#header {
  background-color: white;
  height: 4em;
  position: relative;
}

#main {
  padding-top: 2em;
}

.visible {
  display: initial;
}

.hidden {
  display: none !important;
}

.floating {
  position: fixed;
  z-index: 10000000;
  top: 0;
  right: 0;
  height: inherit;
  width: 30em;
}

#services-scroll-container {
  height: 40em;
  overflow-y: auto;
}

#services-loading-idicator {
  margin-top: 2em;
  height: 1em;
}

.scrolled-service .jumbotron {
  padding: 1em 3em 1em 3em;
  min-height: 13em;
  max-height: 15em;
}

@media (min-width: 768px) {
  .scrolled-service .jumbotron {
    padding: 1em 3em 1em 3em;
    min-height: 5em;
    max-height: 7em;
  }
}

.promo-code-container {
  position: relative;
}

.promo-code-input {
  padding-right: 2em !important;
}

.promo-code-copy-button {
  position: absolute;
  top: 0;
  right: 1em;
  width: 2em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: transparent !important;
  border-color: transparent !important;
}